.NavBar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.NavBar-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7px;
    width: 250px;
}

.NavBar-span{
    font-family: Kodchasan;
    font-size: 2.7rem;
    color: rgba(0, 119, 228, 1);
    margin-top: 5px;
}