.DetailSelector-container{
    margin-top: 20px;
}

.DetailSelector-tab-container{
    display: flex;
    flex-direction: row;
}

.DetailSelector-tab{
    padding: 15px;
    font-size: 1.5rem;
    font-family: Kodchasan;
    border: 1px solid #000000;
}

#DetailSelector-hr{
    margin: 0px;
}

#DetailSelector-add-btn{
    /* width: 50px; */
    font-size: 1.7rem;
    background-color: #08d545;
    border: 1px solid black;
    font-family: Kodchasan;
    cursor: pointer;
}

.DetailSelector-DeleteSubject-btn{
    background-color: red;
    border: 1px solid black;
    font-size: 1.2rem;
    font-family: Kodchasan;
    cursor: pointer;
}